body {
  background-color:#ffffff;

    font-family: "Arial,helvetica, serif;
    font-size: .875 em;
    line-height: 1.42857143;
    color: #000;

}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

img {
    image-orientation: from-image;
}

.btn {
background: transparent;
font-size: 45px; }

img {
    max-width: 100%;
    height: auto;
}

video {
    max-width: 100%;
    height: auto;
}


.dropdown{

 font-size: 45px;
height: 70px;
}

.sidenav {
    padding-top: 20px;
    height: 100%;

    background:transparent;}
    
    .well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background:transparent;
    border: 1px solid #000;
    border-radius: 4px;}
    
    a {
    color: #000;
    text-decoration: none;
}
.navbar-inverse { 
    background:transparent; }
a {
    background-color: transparent;
}

.btn-primary {
    
    background: transparent;
    border-color: #fff;
}

@font-face {
   font-family: Arial;
   src: url(fonts/Arial.ttf);
}

body {
   font-family: Arial;
   font-size: 3em;
	text-align: left;
	font-style: normal;
	padding: 50px 75px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 1em;
    line-height: 20px;

    background:transparent;
}	
	
	
	.footer {
    background-color: #fff;
    color: white;
    padding: 15px;
}
	
	/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {

	header {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;

	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: transparent;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}

   
     @media screen and (max-width: 700px) {
 .navbar-brand {
    font-size: 12px; /* last left padding value _can_ be left away */
}
   
   p {
   font-family: Arial;
   font-size: .75em;
}
 
body {
   font-family: Arial;
   font-size: .75em;
}
   
 
 h1{font-family: Arial;   
 font-size: 1em;
}
 h2{font-family: Arial;   
 font-size: 1em;
}   


img {
    max-width: 100%;
    height: auto;
}

video {
    max-width: 100%;
    height: auto;
}

   }
  

