body {
  font-family: "Apple Chancery";
  font-size: 16px;
}

.fun {
  font-family: "Brush Script MT, Apple Chancery";
  font-size: 4rem;
  font-weight: 600;
}

h2 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2.8rem;
  font-weight: 500;
}

h3 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

h4 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  color: #696b6e;
  font-size: 0.9rem;
  font-family: "Apple Chancery";
}

.divider {
  display: block;
  width: 6rem;
  height: 0.3rem;
  background-color: #dfe1e5;
  margin: 2rem auto;
}

.navbar.scrolled {
  background-color: green !important;
  transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled {
  background-color: green !important;
  transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled .nav-link {
  color: #555;
}
